@charset "UTF-8";

:root {
    --Color01: #FFF9EC;
    --Color02: #FFDCCC;
    --Color03: #FCB1A6;
    --Color04: #FB6376;
    --Color05: #5D2A42;

    --shadow: rgba(0, 0, 0, 0.5);

    --fonte-padrao: 'Times New Roman', Times, serif;
    --fonte-destaque: Arial, Helvetica, sans-serif;
    --fonte-impact: Impact, Haettenschweiler, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--Color03);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--Color05);
    min-height: 150px;
}

header h1 {
    padding: 50px 0px;
    color: white;
    font: lighter 4em var(--fonte-impact);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px var(--shadow);
}

nav {
    background-color: var(--Color05);
    padding: 40px 0px;
    text-align: center;
}

nav a {
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--Color04);
    font: bold 1em var(--fonte-destaque);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: var(--Color04);
    color: var(--Color05);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px var(--shadow);
}

main h1 {
    margin: 20px 0px 50px 0px;
    color: var(--Color05);
    font: normal 4em var(--fonte-destaque);
    text-align: center;
    text-transform: uppercase;
}

main h2 {
    margin: 30px 0px;
    color: var(--Color04);
    font: bold italic 2em var(--fonte-destaque);
    text-transform: uppercase;
}

main p {
    font: normal 1.5em var(--fonte-padrao);
    text-align: justify;
    text-indent: 2em;
}

footer {
    background-color: var(--Color05);
}

footer p {
    padding: 20px 0px;
    text-align: center;
    color: white;
    font: normal italic 1.2em var(--fonte-destaque);
    text-shadow: 1px 1px 2px var(--shadow);
}